body {
    margin: 0;
}

#heading, h4, .inputs, #info {
    text-align: center;
}

.inputs {
    padding: 10px;
}

#contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#country-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 10px;
}

a {
    color: rgb(85, 85, 255);
    padding: 10px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: rgb(235, 235, 235);
}

.images {
    width: 100vw;
    margin: 50px 0px;
    display: flex;
    justify-content: space-evenly;
}

#flag, #CoA {
    border: 2px solid rgb(205, 205, 205);
}

#flag {
    width: 400px;
    height: fit-content;
}

#CoA {
    width: 200px;
    padding: 5px;
}

@media screen and (max-width: 650px) {
    .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    #flag, #CoA {
        margin: 10px;
    }
}