body {
    width: auto;
}

#heading, h4, .inputs, #info {
    text-align: center;
}

.inputs {
    padding: 10px;
}

#contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#country-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 10px;
}

a {
    color: rgb(85, 85, 255);
    padding: 10px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: rgb(235, 235, 235);
}

.images {
    width: 100vw;
    margin: 50px 10px;
    display: flex;
    justify-content: space-evenly;
}


#flag {
    width: 400px;
}

#CoA {
    width: 200px;
}